In [14]:
%matplotlib inline
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
import pandas as pd
import time
import scipy as sp
import re

Data Analysis

In [ ]:
def parse_age(text):
    if pd.isna(text):
        return np.nan

    s = str(text).lower()
    s = re.sub(r'[\u00A0\.]', ' ', s)

    y = re.search(r'(\d+)\s*(?:год|года|лет)\b', s)

    if not y:
        first_num = re.search(r'(\d+)', s)
        return int(first_num.group(1)) if first_num else np.nan

    years = int(y.group(1)) if y else 0

    return years

In [61]:
C = pd.read_csv('/Users/ksenia/Downloads/sch_alt_ast_bil_crea_urea_parsed.csv', index_col=0)
C

<ipython-input-61-bb18e82ff9a2>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  C = pd.read_csv('/Users/ksenia/Downloads/sch_alt_ast_bil_crea_urea_parsed.csv', index_col=0)

            Возр. Синоним          Дата забора Результаты
Рег.№
4761/A12    57лет     SHC  2014-02-26 08:34:00       2.00
4761/A12    57лет     SHC  2014-03-06 09:00:00       1.00
6381/A12   43года     SHC  2023-06-14 11:18:00       6.00
6381/A12   44года     SHC  2023-08-28 01:50:00       2.00
9321/A12    20лет     SHC  2014-11-06 12:29:00       0.00
...           ...     ...                  ...        ...
22882/B18  54года     URI  2019-05-26 06:52:00       25.5
22882/B18  54года    CREA  2019-05-26 18:52:00      0.214
22882/B18  54года     URI  2019-05-26 18:52:00       31.8
22882/B18  54года    CREA  2019-05-27 06:57:00      0.256
22882/B18  54года     URI  2019-05-27 06:57:00       37.5

[533858 rows x 4 columns]

In [82]:
All = pd.read_csv('/Users/ksenia/Downloads/new_ready_caracterstics.csv', index_col=0)
All['date_hsct']

id
45071/A23    2024/03/13 00:00:00
9511/A18     2018/08/14 00:00:00
47259/A24    2024/12/03 00:00:00
4343/A24     2024/05/28 00:00:00
33331/A24    2024/11/28 00:00:00
                    ...
70474/A24    2025/05/13 00:00:00
48446/A24    2025/05/14 00:00:00
60143/A24    2025/05/15 00:00:00
59225/A24    2025/05/15 00:00:00
NaN                          NaN
Name: date_hsct, Length: 1205, dtype: object

In [76]:
C['Возраст_в_годах'] = C['Возр.'].apply(parse_age)
C['Дата забора'] = pd.to_datetime(C['Дата забора'])
crea = C[((C['Синоним'] == 'CREA') | (C['Синоним'] == 'креат.-2') | (C['Синоним'] == 'креат.-1') | (C['Синоним'] == 'креат.-3') | (C['Синоним'] == 'креат. -5')) & (C['Возраст_в_годах'] >= 18)]
crea

            Возр. Синоним         Дата забора Результаты  Возраст_в_годах
Рег.№
171/A12     20лет    CREA 2014-01-27 11:49:00       64.3               20
322/A12     19лет    CREA 2014-03-06 10:04:00       83.2               19
322/A12     20лет    CREA 2014-07-16 11:22:00       93.9               20
322/A12     20лет    CREA 2014-08-27 10:42:00       76.8               20
322/A12     20лет    CREA 2014-10-22 11:43:00       82.8               20
...           ...     ...                 ...        ...              ...
22882/B18  54года    CREA 2019-05-24 07:00:00      0.073               54
22882/B18  54года    CREA 2019-05-25 07:11:00      0.094               54
22882/B18  54года    CREA 2019-05-26 06:52:00      0.168               54
22882/B18  54года    CREA 2019-05-26 18:52:00      0.214               54
22882/B18  54года    CREA 2019-05-27 06:57:00      0.256               54

[131754 rows x 5 columns]

In [83]:
All['date_hsct'] = pd.to_datetime(All['date_hsct'])
All['date_hsct']

id
45071/A23   2024-03-13
9511/A18    2018-08-14
47259/A24   2024-12-03
4343/A24    2024-05-28
33331/A24   2024-11-28
               ...
70474/A24   2025-05-13
48446/A24   2025-05-14
60143/A24   2025-05-15
59225/A24   2025-05-15
NaN                NaT
Name: date_hsct, Length: 1205, dtype: datetime64[ns]

In [78]:
crea = crea.reset_index() 
crea = crea.rename(columns={'Рег.№': 'id'})

In [84]:
crea_with_transplant = crea.merge(All, on='id', how='left')
crea_with_transplant['date_hsct']

0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
          ..
132851   NaT
132852   NaT
132853   NaT
132854   NaT
132855   NaT
Name: date_hsct, Length: 132856, dtype: datetime64[ns]

In [85]:
crea_with_transplant

,id,Возр.,Синоним,Дата забора,Результаты_x,Возраст_в_годах,Последний диагноз (посмертный) описание...7,ds_full,ds_clear,date_birth,...,FER25,FER30,KOS5,KOS10,KOS15,KOS20,KOS25,CRP3,tma_date,Illness
0,171/A12,20лет,CREA,2014-01-27 11:49:00,64.3,20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,322/A12,19лет,CREA,2014-03-06 10:04:00,83.2,19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,322/A12,20лет,CREA,2014-07-16 11:22:00,93.9,20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,322/A12,20лет,CREA,2014-08-27 10:42:00,76.8,20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,322/A12,20лет,CREA,2014-10-22 11:43:00,82.8,20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132851,22882/B18,54года,CREA,2019-05-24 07:00:00,0.073,54,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132852,22882/B18,54года,CREA,2019-05-25 07:11:00,0.094,54,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132853,22882/B18,54года,CREA,2019-05-26 06:52:00,0.168,54,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132854,22882/B18,54года,CREA,2019-05-26 18:52:00,0.214,54,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132855,22882/B18,54года,CREA,2019-05-27 06:57:00,0.256,54,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
crea_filtered = crea_with_transplant[['id', 'Возр.', 'Синоним', 'Дата забора', 'Результаты_x', 'date_hsct']]
crea_filtered = crea_filtered[crea_filtered['date_hsct'].notna()]
crea_filtered['Результаты_x'] = pd.to_numeric(crea_filtered['Результаты_x'], errors='coerce')
crea_filtered

               id  Возр. Синоним         Дата забора  Результаты_x  date_hsct
967      6612/A12  26лет    CREA 2019-07-12 07:05:00         0.091 2019-07-19
968      6612/A12  26лет    CREA 2019-07-13 07:03:00         0.099 2019-07-19
969      6612/A12  26лет    CREA 2019-07-14 07:14:00         0.108 2019-07-19
970      6612/A12  26лет    CREA 2019-07-15 07:13:00         0.105 2019-07-19
971      6612/A12  26лет    CREA 2019-07-18 07:30:00         0.105 2019-07-19
...           ...    ...     ...                 ...           ...        ...
132743  13126/B18  31год    CREA 2018-07-08 07:09:00         0.162 2018-03-15
132744  13126/B18  31год    CREA 2018-07-08 19:02:00         0.172 2018-03-15
132745  13126/B18  31год    CREA 2018-07-09 06:49:00         0.189 2018-03-15
132746  13126/B18  31год    CREA 2018-07-10 06:37:00         0.205 2018-03-15
132747  13126/B18  31год    CREA 2018-07-11 06:44:00         0.203 2018-03-15

[67911 rows x 6 columns]

In [103]:
patients = crea_filtered['id'].unique()

In [106]:
from datetime import timedelta

In [135]:
opp = []
for p in patients: 
    df_p = crea_filtered[crea_filtered['id'] == p]
    df_p_bef = df_p[(df_p['Дата забора'] + timedelta(days=7) >= df_p['date_hsct']) & (df_p['Дата забора'] < df_p['date_hsct'])]
    df_p_aft = df_p[
        (df_p['Дата забора'] >= df_p['date_hsct']) &
        (df_p['Дата забора'] <= df_p['date_hsct'] + timedelta(days=250))
    ]
    if len(df_p_bef) > 0 and  len(df_p_aft) > 0 and max(df_p_bef['Результаты_x']) * 1.5 <= max(df_p_aft['Результаты_x']):
        idx_max_bef = df_p_bef['Результаты_x'].idxmax()
        date_max_bef = df_p_bef.loc[idx_max_bef, 'Дата забора']
        idx_max_aft = df_p_aft['Результаты_x'].idxmax()
        date_max_aft = df_p_aft.loc[idx_max_aft, 'Дата забора']
        opp.append([p, max(df_p_bef['Результаты_x']), date_max_bef, max(df_p_aft['Результаты_x']), date_max_aft, df_p_aft.loc[idx_max_aft, 'date_hsct']])
opp

[['6612/A12',
  0.108,
  Timestamp('2019-07-14 07:14:00'),
  0.25,
  Timestamp('2019-08-07 07:05:00'),
  Timestamp('2019-07-19 00:00:00')],
 ['55779/A12',
  0.081,
  Timestamp('2018-06-13 00:07:00'),
  0.359,
  Timestamp('2018-08-07 08:22:00'),
  Timestamp('2018-06-15 00:00:00')],
 ['9520/A13',
  0.08,
  Timestamp('2019-11-05 07:07:00'),
  0.121,
  Timestamp('2020-01-09 10:52:00'),
  Timestamp('2019-11-08 00:00:00')],
 ['22727/A13',
  0.091,
  Timestamp('2022-11-28 07:04:00'),
  0.144,
  Timestamp('2022-12-29 09:51:00'),
  Timestamp('2022-11-30 00:00:00')],
 ['136357/A13',
  0.113,
  Timestamp('2023-08-07 06:54:00'),
  0.184,
  Timestamp('2024-02-13 10:49:00'),
  Timestamp('2023-08-11 00:00:00')],
 ['165767/A13',
  0.075,
  Timestamp('2023-09-19 06:52:00'),
  0.162,
  Timestamp('2023-12-14 10:32:00'),
  Timestamp('2023-09-25 00:00:00')],
 ['321848/A13',
  0.099,
  Timestamp('2019-10-24 06:12:00'),
  0.439,
  Timestamp('2019-12-02 07:22:00'),
  Timestamp('2019-10-30 00:00:00')],
 ['322598/A13',
  0.078,
  Timestamp('2024-11-05 06:04:00'),
  0.144,
  Timestamp('2024-12-02 06:48:00'),
  Timestamp('2024-11-08 00:00:00')],
 ['3473/A14',
  0.088,
  Timestamp('2018-04-02 07:30:00'),
  0.136,
  Timestamp('2018-09-05 06:48:00'),
  Timestamp('2018-04-06 00:00:00')],
 ['18258/A14',
  0.072,
  Timestamp('2021-10-05 06:38:00'),
  0.146,
  Timestamp('2021-12-16 10:55:00'),
  Timestamp('2021-10-06 00:00:00')],
 ['19571/A14',
  0.091,
  Timestamp('2023-12-15 06:28:00'),
  0.138,
  Timestamp('2024-01-07 06:48:00'),
  Timestamp('2023-12-19 00:00:00')],
 ['47923/A14',
  0.074,
  Timestamp('2019-05-21 06:23:00'),
  0.149,
  Timestamp('2019-07-30 06:54:00'),
  Timestamp('2019-05-24 00:00:00')],
 ['56487/A14',
  0.075,
  Timestamp('2019-05-31 06:40:00'),
  0.171,
  Timestamp('2019-07-24 07:11:00'),
  Timestamp('2019-06-04 00:00:00')],
 ['58476/A14',
  0.063,
  Timestamp('2018-08-30 06:51:00'),
  0.109,
  Timestamp('2018-11-30 10:15:00'),
  Timestamp('2018-09-05 00:00:00')],
 ['73204/A14',
  0.072,
  Timestamp('2018-08-13 08:05:00'),
  0.227,
  Timestamp('2018-11-01 18:40:00'),
  Timestamp('2018-08-16 00:00:00')],
 ['75310/A14',
  0.077,
  Timestamp('2018-10-15 06:58:00'),
  0.228,
  Timestamp('2019-02-16 07:00:00'),
  Timestamp('2018-10-18 00:00:00')],
 ['86967/A14',
  0.151,
  Timestamp('2022-11-28 07:03:00'),
  0.389,
  Timestamp('2023-02-13 00:25:00'),
  Timestamp('2022-11-29 00:00:00')],
 ['1146/A16',
  0.105,
  Timestamp('2023-08-14 07:01:00'),
  0.196,
  Timestamp('2023-10-10 10:50:00'),
  Timestamp('2023-08-17 00:00:00')],
 ['33069/A16',
  0.097,
  Timestamp('2018-07-07 06:48:00'),
  0.165,
  Timestamp('2018-09-25 09:43:00'),
  Timestamp('2018-07-12 00:00:00')],
 ['35205/A16',
  0.103,
  Timestamp('2019-10-06 06:45:00'),
  0.172,
  Timestamp('2020-01-16 13:48:00'),
  Timestamp('2019-10-07 00:00:00')],
 ['37602/A16',
  0.068,
  Timestamp('2019-04-08 07:00:00'),
  0.13,
  Timestamp('2019-08-10 23:04:00'),
  Timestamp('2019-04-11 00:00:00')],
 ['38242/A16',
  0.129,
  Timestamp('2018-02-12 06:32:00'),
  0.281,
  Timestamp('2018-03-11 07:12:00'),
  Timestamp('2018-02-15 00:00:00')],
 ['50507/A16',
  0.085,
  Timestamp('2021-12-06 06:26:00'),
  0.138,
  Timestamp('2022-01-27 06:33:00'),
  Timestamp('2021-12-08 00:00:00')],
 ['61763/A16',
  0.067,
  Timestamp('2020-07-09 07:16:00'),
  0.108,
  Timestamp('2020-09-24 11:50:00'),
  Timestamp('2020-07-14 00:00:00')],
 ['71187/A16',
  0.112,
  Timestamp('2019-08-11 06:44:00'),
  0.347,
  Timestamp('2019-09-11 07:02:00'),
  Timestamp('2019-08-15 00:00:00')],
 ['79588/A16',
  0.096,
  Timestamp('2018-08-20 07:15:00'),
  0.183,
  Timestamp('2018-11-26 10:45:00'),
  Timestamp('2018-08-23 00:00:00')],
 ['83784/A16',
  0.067,
  Timestamp('2018-04-14 06:37:00'),
  0.192,
  Timestamp('2018-05-19 23:30:00'),
  Timestamp('2018-04-17 00:00:00')],
 ['2562/A17',
  0.07,
  Timestamp('2021-11-14 07:35:00'),
  0.164,
  Timestamp('2021-11-29 06:08:00'),
  Timestamp('2021-11-18 00:00:00')],
 ['3602/A17',
  0.068,
  Timestamp('2018-11-23 07:08:00'),
  0.217,
  Timestamp('2019-01-17 02:02:00'),
  Timestamp('2018-11-29 00:00:00')],
 ['8597/A17',
  0.08,
  Timestamp('2018-01-22 07:14:00'),
  0.125,
  Timestamp('2018-02-26 09:21:00'),
  Timestamp('2018-01-23 00:00:00')],
 ['11869/A17',
  0.09,
  Timestamp('2018-06-25 07:28:00'),
  0.247,
  Timestamp('2018-08-01 06:48:00'),
  Timestamp('2018-06-27 00:00:00')],
 ['28781/A17',
  0.096,
  Timestamp('2019-06-21 07:55:00'),
  0.16,
  Timestamp('2019-10-31 06:31:00'),
  Timestamp('2019-06-28 00:00:00')],
 ['30724/A17',
  0.091,
  Timestamp('2018-02-01 18:15:00'),
  0.146,
  Timestamp('2018-03-28 10:37:00'),
  Timestamp('2018-02-07 00:00:00')],
 ['33771/A17',
  0.085,
  Timestamp('2018-05-24 07:15:00'),
  0.156,
  Timestamp('2018-07-05 21:01:00'),
  Timestamp('2018-05-29 00:00:00')],
 ['35139/A17',
  0.097,
  Timestamp('2018-05-14 07:17:00'),
  0.349,
  Timestamp('2018-05-30 06:51:00'),
  Timestamp('2018-05-15 00:00:00')],
 ['35596/A17',
  0.09,
  Timestamp('2018-07-04 06:59:00'),
  0.193,
  Timestamp('2018-09-06 09:41:00'),
  Timestamp('2018-07-07 00:00:00')],
 ['36170/A17',
  0.077,
  Timestamp('2018-03-29 06:49:00'),
  0.167,
  Timestamp('2018-07-09 06:50:00'),
  Timestamp('2018-04-05 00:00:00')],
 ['39016/A17',
  0.087,
  Timestamp('2021-11-08 06:56:00'),
  0.425,
  Timestamp('2021-12-31 19:36:00'),
  Timestamp('2021-11-09 00:00:00')],
 ['41196/A17',
  0.069,
  Timestamp('2018-02-19 07:26:00'),
  0.231,
  Timestamp('2018-03-29 06:48:00'),
  Timestamp('2018-02-23 00:00:00')],
 ['41197/A17',
  0.079,
  Timestamp('2018-04-21 06:32:00'),
  0.266,
  Timestamp('2018-06-26 06:28:00'),
  Timestamp('2018-04-25 00:00:00')],
 ['41436/A17',
  0.119,
  Timestamp('2018-04-03 06:53:00'),
  0.258,
  Timestamp('2018-04-20 06:54:00'),
  Timestamp('2018-04-07 00:00:00')],
 ['41962/A17',
  0.075,
  Timestamp('2018-06-04 06:45:00'),
  0.131,
  Timestamp('2018-07-05 06:45:00'),
  Timestamp('2018-06-07 00:00:00')],
 ['42200/A17',
  0.094,
  Timestamp('2018-01-10 07:18:00'),
  0.343,
  Timestamp('2018-01-22 07:03:00'),
  Timestamp('2018-01-15 00:00:00')],
 ['42759/A17',
  0.054,
  Timestamp('2018-06-02 06:27:00'),
  0.243,
  Timestamp('2018-07-23 10:49:00'),
  Timestamp('2018-06-06 00:00:00')],
 ['43732/A17',
  0.045,
  Timestamp('2018-01-05 07:07:00'),
  0.07,
  Timestamp('2018-02-09 07:26:00'),
  Timestamp('2018-01-10 00:00:00')],
 ['44864/A17',
  0.113,
  Timestamp('2019-02-09 06:59:00'),
  0.244,
  Timestamp('2019-03-08 11:04:00'),
  Timestamp('2019-02-13 00:00:00')],
 ['45220/A17',
  0.082,
  Timestamp('2019-03-04 07:22:00'),
  0.159,
  Timestamp('2019-04-08 09:31:00'),
  Timestamp('2019-03-05 00:00:00')],
 ['45808/A17',
  0.106,
  Timestamp('2018-11-30 07:03:00'),
  0.322,
  Timestamp('2019-06-15 07:05:00'),
  Timestamp('2018-12-06 00:00:00')],
 ['46644/A17',
  0.099,
  Timestamp('2018-02-26 06:46:00'),
  0.267,
  Timestamp('2018-04-26 06:53:00'),
  Timestamp('2018-03-02 00:00:00')],
 ['48392/A17',
  0.082,
  Timestamp('2018-05-14 07:16:00'),
  0.137,
  Timestamp('2018-07-06 09:54:00'),
  Timestamp('2018-05-16 00:00:00')],
 ['49700/A17',
  0.093,
  Timestamp('2018-02-11 07:28:00'),
  0.16,
  Timestamp('2018-03-04 05:58:00'),
  Timestamp('2018-02-16 00:00:00')],
 ['50192/A17',
  0.071,
  Timestamp('2018-10-12 06:41:00'),
  0.148,
  Timestamp('2019-03-16 18:48:00'),
  Timestamp('2018-10-18 00:00:00')],
 ['50560/A17',
  0.085,
  Timestamp('2020-11-09 07:41:00'),
  0.139,
  Timestamp('2020-12-16 10:48:00'),
  Timestamp('2020-11-10 00:00:00')],
 ['54588/A17',
  0.112,
  Timestamp('2019-01-20 06:18:00'),
  0.193,
  Timestamp('2019-06-05 07:09:00'),
  Timestamp('2019-01-23 00:00:00')],
 ['59712/A17',
  0.082,
  Timestamp('2018-05-14 07:16:00'),
  0.125,
  Timestamp('2018-06-20 08:57:00'),
  Timestamp('2018-05-16 00:00:00')],
 ['59786/A17',
  0.093,
  Timestamp('2018-05-14 07:16:00'),
  0.147,
  Timestamp('2018-07-12 08:39:00'),
  Timestamp('2018-05-18 00:00:00')],
 ['60316/A17',
  0.111,
  Timestamp('2018-10-22 06:59:00'),
  0.168,
  Timestamp('2018-12-05 10:26:00'),
  Timestamp('2018-10-24 00:00:00')],
 ['61370/A17',
  0.093,
  Timestamp('2018-06-18 06:28:00'),
  0.158,
  Timestamp('2018-08-31 07:01:00'),
  Timestamp('2018-06-21 00:00:00')],
 ['62802/A17',
  0.079,
  Timestamp('2018-04-23 06:59:00'),
  20.11,
  Timestamp('2018-06-10 20:59:00'),
  Timestamp('2018-04-24 00:00:00')],
 ['63309/A17',
  0.119,
  Timestamp('2022-06-06 06:57:00'),
  0.184,
  Timestamp('2022-07-01 06:35:00'),
  Timestamp('2022-06-10 00:00:00')],
 ['64110/A17',
  0.088,
  Timestamp('2018-04-16 00:12:00'),
  0.143,
  Timestamp('2018-05-05 06:59:00'),
  Timestamp('2018-04-19 00:00:00')],
 ['64681/A17',
  0.11,
  Timestamp('2018-02-24 06:57:00'),
  0.168,
  Timestamp('2018-04-23 09:34:00'),
  Timestamp('2018-02-28 00:00:00')],
 ['65224/A17',
  0.066,
  Timestamp('2018-01-22 07:14:00'),
  0.224,
  Timestamp('2018-02-18 06:28:00'),
  Timestamp('2018-01-25 00:00:00')],
 ['65581/A17',
  0.079,
  Timestamp('2018-04-12 06:47:00'),
  0.305,
  Timestamp('2018-05-04 07:04:00'),
  Timestamp('2018-04-18 00:00:00')],
 ['66583/A17',
  0.068,
  Timestamp('2018-01-16 06:51:00'),
  20.087,
  Timestamp('2018-03-20 10:23:00'),
  Timestamp('2018-01-19 00:00:00')],
 ['66841/A17',
  0.075,
  Timestamp('2018-08-27 06:48:00'),
  0.129,
  Timestamp('2018-10-05 09:46:00'),
  Timestamp('2018-08-29 00:00:00')],
 ['66958/A17',
  0.084,
  Timestamp('2018-05-21 07:11:00'),
  0.465,
  Timestamp('2018-06-26 07:01:00'),
  Timestamp('2018-05-25 00:00:00')],
 ['70149/A17',
  0.076,
  Timestamp('2024-10-28 00:15:00'),
  0.135,
  Timestamp('2025-03-31 09:36:00'),
  Timestamp('2024-11-01 00:00:00')],
 ['71188/A17',
  0.077,
  Timestamp('2018-07-09 06:47:00'),
  0.142,
  Timestamp('2018-08-13 19:26:00'),
  Timestamp('2018-07-11 00:00:00')],
 ['74133/A17',
  0.087,
  Timestamp('2020-08-27 07:06:00'),
  0.171,
  Timestamp('2020-10-30 09:17:00'),
  Timestamp('2020-08-28 00:00:00')],
 ['75674/A17',
  0.071,
  Timestamp('2018-10-11 06:46:00'),
  0.113,
  Timestamp('2018-11-30 08:57:00'),
  Timestamp('2018-10-16 00:00:00')],
 ['76246/A17',
  0.07,
  Timestamp('2018-03-19 07:24:00'),
  0.24,
  Timestamp('2018-04-20 07:09:00'),
  Timestamp('2018-03-23 00:00:00')],
 ['77654/A17',
  0.114,
  Timestamp('2023-04-17 06:33:00'),
  0.19,
  Timestamp('2023-05-16 09:44:00'),
  Timestamp('2023-04-19 00:00:00')],
 ['81183/A17',
  0.071,
  Timestamp('2018-05-05 08:39:00'),
  0.17,
  Timestamp('2018-10-24 11:19:00'),
  Timestamp('2018-05-10 00:00:00')],
 ['81294/A17',
  0.12,
  Timestamp('2021-02-17 07:26:00'),
  0.194,
  Timestamp('2021-04-01 11:11:00'),
  Timestamp('2021-02-18 00:00:00')],
 ['1694/A18',
  0.068,
  Timestamp('2018-04-12 06:48:00'),
  20.059,
  Timestamp('2018-08-08 09:54:00'),
  Timestamp('2018-04-17 00:00:00')],
 ['7485/A18',
  0.079,
  Timestamp('2018-10-15 06:58:00'),
  0.123,
  Timestamp('2018-12-11 07:12:00'),
  Timestamp('2018-10-18 00:00:00')],
 ['13311/A18',
  0.066,
  Timestamp('2018-09-23 21:50:00'),
  0.1,
  Timestamp('2019-03-09 11:36:00'),
  Timestamp('2018-09-27 00:00:00')],
 ['19269/A18',
  0.064,
  Timestamp('2023-04-08 04:09:00'),
  0.183,
  Timestamp('2023-04-22 02:15:00'),
  Timestamp('2023-04-13 00:00:00')],
 ['20363/A18',
  0.11,
  Timestamp('2018-09-13 09:14:00'),
  0.19,
  Timestamp('2019-02-21 07:13:00'),
  Timestamp('2018-09-14 00:00:00')],
 ['20524/A18',
  0.082,
  Timestamp('2024-08-02 06:32:00'),
  0.138,
  Timestamp('2024-09-16 00:16:00'),
  Timestamp('2024-08-07 00:00:00')],
 ['26122/A18',
  0.067,
  Timestamp('2019-09-23 06:37:00'),
  0.214,
  Timestamp('2019-11-22 06:41:00'),
  Timestamp('2019-09-26 00:00:00')],
 ['27753/A18',
  0.11,
  Timestamp('2022-04-25 07:03:00'),
  0.199,
  Timestamp('2022-05-10 06:32:00'),
  Timestamp('2022-04-26 00:00:00')],
 ['28323/A18',
  0.07,
  Timestamp('2019-03-27 07:20:00'),
  0.12,
  Timestamp('2019-06-03 11:05:00'),
  Timestamp('2019-04-03 00:00:00')],
 ['29027/A18',
  0.119,
  Timestamp('2019-09-19 07:54:00'),
  0.191,
  Timestamp('2019-10-02 06:55:00'),
  Timestamp('2019-09-20 00:00:00')],
 ['31588/A18',
  0.096,
  Timestamp('2018-10-04 06:55:00'),
  0.254,
  Timestamp('2018-11-19 06:50:00'),
  Timestamp('2018-10-06 00:00:00')],
 ['32664/A18',
  0.083,
  Timestamp('2019-09-05 07:37:00'),
  0.126,
  Timestamp('2019-09-23 06:40:00'),
  Timestamp('2019-09-06 00:00:00')],
 ['35523/A18',
  0.073,
  Timestamp('2018-12-06 07:03:00'),
  0.121,
  Timestamp('2019-01-30 10:23:00'),
  Timestamp('2018-12-12 00:00:00')],
 ['36096/A18',
  0.084,
  Timestamp('2019-01-21 06:49:00'),
  0.145,
  Timestamp('2019-08-21 09:09:00'),
  Timestamp('2019-01-24 00:00:00')],
 ['40677/A18',
  0.079,
  Timestamp('2018-11-02 07:02:00'),
  0.12,
  Timestamp('2018-11-27 06:53:00'),
  Timestamp('2018-11-07 00:00:00')],
 ['42559/A18',
  0.101,
  Timestamp('2019-05-02 07:11:00'),
  0.196,
  Timestamp('2019-07-31 09:40:00'),
  Timestamp('2019-05-08 00:00:00')],
 ['43181/A18',
  0.071,
  Timestamp('2023-03-30 06:52:00'),
  0.139,
  Timestamp('2023-04-24 01:42:00'),
  Timestamp('2023-04-05 00:00:00')],
 ['43608/A18',
  0.114,
  Timestamp('2021-02-21 08:19:00'),
  0.174,
  Timestamp('2021-05-26 11:13:00'),
  Timestamp('2021-02-26 00:00:00')],
 ['45083/A18',
  0.064,
  Timestamp('2019-01-12 06:49:00'),
  0.14,
  Timestamp('2019-03-18 11:04:00'),
  Timestamp('2019-01-16 00:00:00')],
 ['45411/A18',
  0.067,
  Timestamp('2019-01-30 06:58:00'),
  0.138,
  Timestamp('2019-04-22 08:32:00'),
  Timestamp('2019-02-06 00:00:00')],
 ['45835/A18',
  0.072,
  Timestamp('2023-08-14 07:00:00'),
  0.13,
  Timestamp('2023-09-11 08:50:00'),
  Timestamp('2023-08-16 00:00:00')],
 ['46452/A18',
  0.086,
  Timestamp('2018-11-22 06:52:00'),
  0.238,
  Timestamp('2019-02-10 06:48:00'),
  Timestamp('2018-11-29 00:00:00')],
 ['50705/A18',
  0.076,
  Timestamp('2019-03-18 06:53:00'),
  0.138,
  Timestamp('2019-04-17 06:50:00'),
  Timestamp('2019-03-22 00:00:00')],
 ['53942/A18',
  0.07,
  Timestamp('2018-10-22 06:22:00'),
  0.113,
  Timestamp('2019-01-09 10:22:00'),
  Timestamp('2018-10-26 00:00:00')],
 ['58337/A18',
  0.067,
  Timestamp('2019-02-25 07:14:00'),
  0.24,
  Timestamp('2019-03-19 06:59:00'),
  Timestamp('2019-02-28 00:00:00')],
 ['59796/A18',
  0.063,
  Timestamp('2019-05-29 06:55:00'),
  0.107,
  Timestamp('2019-06-27 08:17:00'),
  Timestamp('2019-05-31 00:00:00')],
 ['61114/A18',
  0.072,
  Timestamp('2022-12-01 06:54:00'),
  0.115,
  Timestamp('2023-03-02 10:44:00'),
  Timestamp('2022-12-06 00:00:00')],
 ['64078/A18',
  0.108,
  Timestamp('2019-07-19 07:05:00'),
  0.169,
  Timestamp('2019-08-08 06:40:00'),
  Timestamp('2019-07-24 00:00:00')],
 ['64120/A18',
  0.096,
  Timestamp('2019-05-13 07:23:00'),
  0.157,
  Timestamp('2019-06-22 06:58:00'),
  Timestamp('2019-05-14 00:00:00')],
 ['65464/A18',
  0.091,
  Timestamp('2019-03-25 05:15:00'),
  0.439,
  Timestamp('2019-04-24 07:06:00'),
  Timestamp('2019-03-28 00:00:00')],
 ['66517/A18',
  0.062,
  Timestamp('2018-10-17 21:09:00'),
  0.161,
  Timestamp('2018-11-13 00:33:00'),
  Timestamp('2018-10-22 00:00:00')],
 ['66555/A18',
  0.079,
  Timestamp('2018-12-06 07:03:00'),
  0.133,
  Timestamp('2019-01-01 07:45:00'),
  Timestamp('2018-12-13 00:00:00')],
 ['68497/A18',
  0.09,
  Timestamp('2019-09-01 06:58:00'),
  0.205,
  Timestamp('2019-11-21 06:49:00'),
  Timestamp('2019-09-04 00:00:00')],
 ['69654/A18',
  0.096,
  Timestamp('2019-01-24 07:09:00'),
  0.235,
  Timestamp('2019-06-08 17:54:00'),
  Timestamp('2019-01-29 00:00:00')],
 ['69943/A18',
  0.093,
  Timestamp('2019-05-22 06:44:00'),
  0.142,
  Timestamp('2019-09-30 07:24:00'),
  Timestamp('2019-05-29 00:00:00')],
 ['70947/A18',
  0.092,
  Timestamp('2021-07-22 07:07:00'),
  0.475,
  Timestamp('2021-09-11 07:15:00'),
  Timestamp('2021-07-23 00:00:00')],
 ['72407/A18',
  0.086,
  Timestamp('2020-03-30 07:21:00'),
  0.144,
  Timestamp('2020-04-24 07:21:00'),
  Timestamp('2020-04-02 00:00:00')],
 ['73198/A18',
  0.071,
  Timestamp('2018-12-06 07:03:00'),
  0.134,
  Timestamp('2018-12-18 18:48:00'),
  Timestamp('2018-12-11 00:00:00')],
 ['73434/A18',
  0.081,
  Timestamp('2019-09-16 06:35:00'),
  0.151,
  Timestamp('2019-10-23 09:49:00'),
  Timestamp('2019-09-17 00:00:00')],
 ['73626/A18',
  0.085,
  Timestamp('2019-03-25 05:14:00'),
  0.132,
  Timestamp('2019-06-10 11:34:00'),
  Timestamp('2019-03-28 00:00:00')],
 ['76913/A18',
  0.086,
  Timestamp('2019-11-07 07:18:00'),
  0.349,
  Timestamp('2019-12-01 17:28:00'),
  Timestamp('2019-11-13 00:00:00')],
 ['77375/A18',
  0.095,
  Timestamp('2023-06-26 06:27:00'),
  0.372,
  Timestamp('2023-08-06 00:24:00'),
  Timestamp('2023-06-28 00:00:00')],
 ['79875/A18',
  0.082,
  Timestamp('2019-06-18 07:18:00'),
  0.223,
  Timestamp('2019-07-10 06:59:00'),
  Timestamp('2019-06-21 00:00:00')],
 ['79890/A18',
  0.073,
  Timestamp('2019-07-03 07:26:00'),
  0.409,
  Timestamp('2019-10-21 06:50:00'),
  Timestamp('2019-07-09 00:00:00')],
 ['82557/A18',
  0.106,
  Timestamp('2019-06-13 07:20:00'),
  0.207,
  Timestamp('2019-07-14 22:53:00'),
  Timestamp('2019-06-19 00:00:00')],
 ['83119/A18',
  0.07,
  Timestamp('2021-09-01 06:48:00'),
  0.13,
  Timestamp('2021-09-11 07:01:00'),
  Timestamp('2021-09-03 00:00:00')],
 ['84165/A18',
  0.111,
  Timestamp('2019-05-30 07:07:00'),
  0.309,
  Timestamp('2019-08-24 18:50:00'),
  Timestamp('2019-06-05 00:00:00')],
 ['85131/A18',
  0.097,
  Timestamp('2019-10-14 06:47:00'),
  0.381,
  Timestamp('2020-05-02 06:16:00'),
  Timestamp('2019-10-17 00:00:00')],
 ['86343/A18',
  0.099,
  Timestamp('2020-03-10 08:07:00'),
  0.257,
  Timestamp('2020-03-29 18:52:00'),
  Timestamp('2020-03-11 00:00:00')],
 ['87260/A18',
  0.073,
  Timestamp('2019-07-13 07:03:00'),
  0.197,
  Timestamp('2019-12-28 07:10:00'),
  Timestamp('2019-07-17 00:00:00')],
 ['974/A19',
  0.084,
  Timestamp('2022-07-28 07:09:00'),
  0.172,
  Timestamp('2022-12-26 10:00:00'),
  Timestamp('2022-08-04 00:00:00')],
 ['1326/A19',
  0.088,
  Timestamp('2019-08-12 07:36:00'),
  0.18,
  Timestamp('2019-08-28 06:51:00'),
  Timestamp('2019-08-13 00:00:00')],
 ['2315/A19',
  0.1,
  Timestamp('2019-06-16 06:59:00'),
  0.211,
  Timestamp('2019-09-17 07:25:00'),
  Timestamp('2019-06-18 00:00:00')],
 ['2395/A19',
  0.081,
  Timestamp('2020-09-21 07:05:00'),
  0.126,
  Timestamp('2021-02-04 11:26:00'),
  Timestamp('2020-09-22 00:00:00')],
 ['2650/A19',
  0.1,
  Timestamp('2019-05-17 07:01:00'),
  0.274,
  Timestamp('2019-08-10 06:39:00'),
  Timestamp('2019-05-23 00:00:00')],
 ['2795/A19',
  0.088,
  Timestamp('2019-02-11 06:27:00'),
  0.137,
  Timestamp('2019-04-12 11:29:00'),
  Timestamp('2019-02-13 00:00:00')],
 ['5434/A19',
  0.072,
  Timestamp('2020-06-06 06:50:00'),
  0.214,
  Timestamp('2020-07-12 07:47:00'),
  Timestamp('2020-06-10 00:00:00')],
 ['5945/A19',
  0.068,
  Timestamp('2021-03-15 07:06:00'),
  0.179,
  Timestamp('2021-03-30 07:12:00'),
  Timestamp('2021-03-18 00:00:00')],
 ['6495/A19',
  0.077,
  Timestamp('2020-04-09 10:44:00'),
  0.166,
  Timestamp('2020-07-14 10:41:00'),
  Timestamp('2020-04-14 00:00:00')],
 ['7583/A19',
  0.065,
  Timestamp('2019-09-12 06:55:00'),
  0.131,
  Timestamp('2020-01-09 12:13:00'),
  Timestamp('2019-09-17 00:00:00')],
 ['12220/A19',
  0.078,
  Timestamp('2019-07-21 07:11:00'),
  0.159,
  Timestamp('2019-09-19 07:55:00'),
  Timestamp('2019-07-26 00:00:00')],
 ['16636/A19',
  0.081,
  Timestamp('2020-04-13 07:12:00'),
  0.138,
  Timestamp('2020-04-27 07:09:00'),
  Timestamp('2020-04-14 00:00:00')],
 ['18033/A19',
  0.089,
  Timestamp('2019-09-07 06:57:00'),
  0.353,
  Timestamp('2019-10-11 10:15:00'),
  Timestamp('2019-09-11 00:00:00')],
 ['19179/A19',
  0.111,
  Timestamp('2020-01-27 07:04:00'),
  0.449,
  Timestamp('2020-02-21 06:41:00'),
  Timestamp('2020-01-28 00:00:00')],
 ['20473/A19',
  0.05,
  Timestamp('2019-11-18 07:15:00'),
  0.093,
  Timestamp('2020-01-04 10:43:00'),
  Timestamp('2019-11-20 00:00:00')],
 ['26230/A19',
  0.093,
  Timestamp('2019-11-27 06:49:00'),
  0.34,
  Timestamp('2019-12-19 07:09:00'),
  Timestamp('2019-12-04 00:00:00')],
 ['28479/A19',
  0.06,

In [149]:
columns = [
    "patient_id",
    "max_before",
    "date_max_before",
    "max_after",
    "date_max_after",
    "date_transplant"
]

opp_df = pd.DataFrame(opp, columns=columns)
opp_df[opp_df['patient_id'] == '13047/A20']

,patient_id,max_before,date_max_before,max_after,date_max_after,date_transplant
190,13047/A20,0.089,2020-06-15 07:24:00,0.135,2020-07-08 05:35:00,2020-06-17

In [137]:
print(*opp_df['patient_id'].tolist(), sep='\n')

6612/A12
55779/A12
9520/A13
22727/A13
136357/A13
165767/A13
321848/A13
322598/A13
3473/A14
18258/A14
19571/A14
47923/A14
56487/A14
58476/A14
73204/A14
75310/A14
86967/A14
1146/A16
33069/A16
35205/A16
37602/A16
38242/A16
50507/A16
61763/A16
71187/A16
79588/A16
83784/A16
2562/A17
3602/A17
8597/A17
11869/A17
28781/A17
30724/A17
33771/A17
35139/A17
35596/A17
36170/A17
39016/A17
41196/A17
41197/A17
41436/A17
41962/A17
42200/A17
42759/A17
43732/A17
44864/A17
45220/A17
45808/A17
46644/A17
48392/A17
49700/A17
50192/A17
50560/A17
54588/A17
59712/A17
59786/A17
60316/A17
61370/A17
62802/A17
63309/A17
64110/A17
64681/A17
65224/A17
65581/A17
66583/A17
66841/A17
66958/A17
70149/A17
71188/A17
74133/A17
75674/A17
76246/A17
77654/A17
81183/A17
81294/A17
1694/A18
7485/A18
13311/A18
19269/A18
20363/A18
20524/A18
26122/A18
27753/A18
28323/A18
29027/A18
31588/A18
32664/A18
35523/A18
36096/A18
40677/A18
42559/A18
43181/A18
43608/A18
45083/A18
45411/A18
45835/A18
46452/A18
50705/A18
53942/A18
58337/A18
59796/A18
61114/A18
64078/A18
64120/A18
65464/A18
66517/A18
66555/A18
68497/A18
69654/A18
69943/A18
70947/A18
72407/A18
73198/A18
73434/A18
73626/A18
76913/A18
77375/A18
79875/A18
79890/A18
82557/A18
83119/A18
84165/A18
85131/A18
86343/A18
87260/A18
974/A19
1326/A19
2315/A19
2395/A19
2650/A19
2795/A19
5434/A19
5945/A19
6495/A19
7583/A19
12220/A19
16636/A19
18033/A19
19179/A19
20473/A19
26230/A19
28479/A19
28953/A19
30713/A19
39607/A19
42268/A19
42763/A19
47135/A19
51309/A19
54511/A19
55053/A19
56653/A19
58618/A19
59596/A19
61133/A19
62714/A19
63361/A19
64983/A19
65463/A19
65906/A19
66446/A19
66823/A19
70944/A19
73639/A19
73866/A19
74679/A19
74894/A19
75339/A19
77074/A19
78000/A19
78734/A19
84218/A19
84797/A19
86900/A19
87320/A19
88400/A19
89669/A19
90629/A19
91838/A19
923/A20
1649/A20
1651/A20
4147/A20
5427/A20
6431/A20
7035/A20
9849/A20
10187/A20
11089/A20
12092/A20
13047/A20
15174/A20
18196/A20
19484/A20
19777/A20
23809/A20
24960/A20
26184/A20
27438/A20
28169/A20
29789/A20
29908/A20
30313/A20
31099/A20
31385/A20
31941/A20
32283/A20
33286/A20
34123/A20
34822/A20
36140/A20
37265/A20
37986/A20
38597/A20
43942/A20
49473/A20
50502/A20
53761/A20
57492/A20
58931/A20
59793/A20
63353/A20
934/A21
8340/A21
8797/A21
9369/A21
12746/A21
13175/A21
16105/A21
17190/A21
17219/A21
20786/A21
22650/A21
22827/A21
23713/A21
29974/A21
32793/A21
33981/A21
34127/A21
38339/A21
41727/A21
43013/A21
43016/A21
43521/A21
44277/A21
44845/A21
46790/A21
53777/A21
55955/A21
58437/A21
60904/A21
62325/A21
63848/A21
64594/A21
66679/A21
67496/A21
72330/A21
72779/A21
74012/A21
74018/A21
78720/A21
81008/A21
81019/A21
81022/A21
82729/A21
1133/A22
3380/A22
4015/A22
4120/A22
4336/A22
4503/A22
4762/A22
5299/A22
5521/A22
5779/A22
7726/A22
8932/A22
10732/A22
15103/A22
15915/A22
16216/A22
16499/A22
17863/A22
21011/A22
22691/A22
23317/A22
23319/A22
24849/A22
26936/A22
27590/A22
28698/A22
30609/A22
31303/A22
33872/A22
34244/A22
34643/A22
39099/A22
39101/A22
40036/A22
41069/A22
42069/A22
42840/A22
44165/A22
44331/A22
44712/A22
45356/A22
45515/A22
46216/A22
49395/A22
51799/A22
54746/A22
57806/A22
58853/A22
61479/A22
62967/A22
64661/A22
66103/A22
67041/A22
72373/A22
74482/A22
77484/A22
77597/A22
79670/A22
2356/A23
5687/A23
7196/A23
8067/A23
9799/A23
13457/A23
15301/A23
15776/A23
16374/A23
16510/A23
17083/A23
17428/A23
20494/A23
22031/A23
23831/A23
23973/A23
24127/A23
31373/A23
31590/A23
33028/A23
35702/A23
41886/A23
47692/A23
49157/A23
49589/A23
50343/A23
50559/A23
52044/A23
55077/A23
56558/A23
57057/A23
58739/A23
61799/A23
63654/A23
63656/A23
64080/A23
65720/A23
66095/A23
66884/A23
68073/A23
68836/A23
71001/A23
72580/A23
73639/A23
74030/A23
79036/A23
79462/A23
80138/A23
81182/A23
83122/A23
333/A24
1419/A24
2017/A24
3316/A24
4343/A24
5737/A24
6366/A24
7575/A24
9165/A24
11034/A24
15784/A24
20956/A24
24062/A24
27100/A24
33331/A24
34747/A24
36594/A24
36595/A24
39200/A24
42868/A24
44546/A24
45552/A24
45920/A24
46915/A24
47259/A24
47805/A24
48224/A24
48446/A24
53046/A24
56335/A24
61501/A24
73057/A24
13126/B18

In [138]:
opp = []
for p in patients:
    df_p = crea_filtered[crea_filtered['id'] == p].sort_values('Дата забора')
    df_p_bef = df_p[(df_p['Дата забора'] + timedelta(days=7) >= df_p['date_hsct']) & (df_p['Дата забора'] < df_p['date_hsct'])]
    if df_p_bef.empty:
        continue
    threshold = max(df_p_bef['Результаты_x']) * 1.5
    df_p_aft = df_p[
        (df_p['Дата забора'] >= df_p['date_hsct']) &
        (df_p['Дата забора'] <= df_p['date_hsct'] + timedelta(days=250))
    ]
    if df_p_aft.empty:
        continue
    df_p_aft_above = df_p_aft[df_p_aft['Результаты_x'] >= threshold]
    if df_p_aft_above.empty:
        continue
    first_above = df_p_aft_above.iloc[0]
    opp.append([
        p,
        max(df_p_bef['Результаты_x']),
        df_p_bef.loc[df_p_bef['Результаты_x'].idxmax(), 'Дата забора'],
        first_above['Результаты_x'],
        first_above['Дата забора'],
        first_above['date_hsct']
    ])

In [150]:
columns = [
    "patient_id",
    "max_before",
    "date_max_before",
    "opp_after",
    "date_opp_after",
    "date_transplant"
]

opp_df = pd.DataFrame(opp, columns=columns)
opp_df[opp_df['patient_id'] == '13047/A20']

,patient_id,max_before,date_max_before,opp_after,date_opp_after,date_transplant
190,13047/A20,0.089,2020-06-15 07:24:00,0.135,2020-07-08 05:35:00,2020-06-17

In [151]:
ldh = C[(C['Синоним'] == 'LDH') & (C['Возраст_в_годах'] >= 18)]
ldh = ldh.reset_index() 
ldh = ldh.rename(columns={'Рег.№': 'id'})
ldh

,id,Возр.,Синоним,Дата забора,Результаты,Возраст_в_годах
0,610/A12,66лет,LDH,2020-10-14 11:09:00,213.0,66
1,610/A12,66лет,LDH,2020-11-17 10:51:00,170.1,66
2,610/A12,66лет,LDH,2021-04-23 10:53:00,206.0,66
3,610/A12,66лет,LDH,2021-05-25 10:52:00,168.0,66
4,1015/A12,22года,LDH,2020-11-13 11:22:00,136.0,22
...,...,...,...,...,...,...
42364,22882/B18,54года,LDH,2019-05-20 06:37:00,1598.0,54
42365,22882/B18,54года,LDH,2019-05-21 06:53:00,1149.0,54
42366,22882/B18,54года,LDH,2019-05-22 06:56:00,1182.0,54
42367,22882/B18,54года,LDH,2019-05-23 07:07:00,1377.0,54
42368,22882/B18,54года,LDH,2019-05-27 06:57:00,1002.0,54

In [153]:
ldh['Дата забора'] = pd.to_datetime(ldh['Дата забора'])

ldh_values = []
for _, row in opp_df.iterrows():
    patient_id = row['patient_id']  
    opp_date = row['date_opp_after']
    
    ldh_patient = ldh[ldh['id'] == patient_id]
    
    ldh_after = ldh_patient[ldh_patient['Дата забора'] >= opp_date].sort_values('Дата забора')
    
    if not ldh_after.empty:
        first_ldh = ldh_after.iloc[0]
        ldh_values.append(first_ldh['Результаты'])
    else:
        ldh_values.append(None)

opp_df['LDH_на_момент_OPP'] = ldh_values

In [154]:
opp_df

,patient_id,max_before,date_max_before,opp_after,date_opp_after,date_transplant,LDH_на_момент_OPP
0,6612/A12,0.108,2019-07-14 07:14:00,0.176,2019-08-06 07:05:00,2019-07-19,None
1,55779/A12,0.081,2018-06-13 00:07:00,0.359,2018-08-07 08:22:00,2018-06-15,200.0
2,9520/A13,0.080,2019-11-05 07:07:00,0.121,2020-01-09 10:52:00,2019-11-08,288.0
3,22727/A13,0.091,2022-11-28 07:04:00,0.144,2022-12-29 09:51:00,2022-11-30,230.0
4,136357/A13,0.113,2023-08-07 06:54:00,0.184,2024-02-13 10:49:00,2023-08-11,226.0
...,...,...,...,...,...,...,...
401,53046/A24,0.075,2025-04-14 07:18:00,0.113,2025-06-17 11:27:00,2025-04-18,None
402,56335/A24,0.100,2025-04-15 06:31:00,0.156,2025-06-20 10:54:00,2025-04-16,None
403,61501/A24,0.093,2025-03-27 06:35:00,0.151,2025-05-17 09:21:00,2025-03-28,None
404,73057/A24,0.093,2025-03-17 06:39:00,0.142,2025-05-08 10:09:00,2025-03-20,None
405,13126/B18,0.085,2018-03-12 07:26:00,0.166,2018-05-13 06:58:00,2018-03-15,79.0

In [156]:
ldh_values = []
ldh_dates = []

ldh['Дата забора'] = pd.to_datetime(ldh['Дата забора'])
ldh['Результаты'] = pd.to_numeric(ldh['Результаты'], errors='coerce')

for _, row in opp_df.iterrows():
    patient_id = row['patient_id']  
    opp_date = row['date_opp_after']
    
    ldh_patient = ldh[ldh['id'] == patient_id]
    ldh_window = ldh_patient[
        (ldh_patient['Дата забора'] >= opp_date - pd.Timedelta(days=7)) &
        (ldh_patient['Дата забора'] <= opp_date + pd.Timedelta(days=7))
    ].copy()
    
    if not ldh_window.empty:
        idx_max = ldh_window['Результаты'].idxmax()
        max_ldh_row = ldh_window.loc[idx_max]
        
        ldh_values.append(max_ldh_row['Результаты'])
        ldh_dates.append(max_ldh_row['Дата забора'])
    else:
        ldh_values.append(None)
        ldh_dates.append(None)

opp_df['LDH_в_теч_7дн'] = ldh_values
opp_df['Дата_LDH'] = ldh_dates

In [157]:
opp_df

,patient_id,max_before,date_max_before,opp_after,date_opp_after,date_transplant,LDH_на_момент_OPP,LDH_в_теч_7дн,Дата_LDH
0,6612/A12,0.108,2019-07-14 07:14:00,0.176,2019-08-06 07:05:00,2019-07-19,None,130.0,2019-08-05 07:01:00
1,55779/A12,0.081,2018-06-13 00:07:00,0.359,2018-08-07 08:22:00,2018-06-15,200.0,200.0,2018-08-07 08:22:00
2,9520/A13,0.080,2019-11-05 07:07:00,0.121,2020-01-09 10:52:00,2019-11-08,288.0,288.0,2020-01-09 10:52:00
3,22727/A13,0.091,2022-11-28 07:04:00,0.144,2022-12-29 09:51:00,2022-11-30,230.0,303.0,2022-12-26 07:07:00
4,136357/A13,0.113,2023-08-07 06:54:00,0.184,2024-02-13 10:49:00,2023-08-11,226.0,330.0,2024-02-16 10:31:00
...,...,...,...,...,...,...,...,...,...
401,53046/A24,0.075,2025-04-14 07:18:00,0.113,2025-06-17 11:27:00,2025-04-18,None,NaN,NaT
402,56335/A24,0.100,2025-04-15 06:31:00,0.156,2025-06-20 10:54:00,2025-04-16,None,NaN,NaT
403,61501/A24,0.093,2025-03-27 06:35:00,0.151,2025-05-17 09:21:00,2025-03-28,None,NaN,NaT
404,73057/A24,0.093,2025-03-17 06:39:00,0.142,2025-05-08 10:09:00,2025-03-20,None,NaN,NaT
405,13126/B18,0.085,2018-03-12 07:26:00,0.166,2018-05-13 06:58:00,2018-03-15,79.0,205.0,2018-05-07 06:58:00

In [160]:
opp_df['LDH_в_теч_7дн'] = pd.to_numeric(opp_df['LDH_в_теч_7дн'], errors='coerce')
disease = opp_df[opp_df['LDH_в_теч_7дн'].fillna(0) > 500]
disease

,patient_id,max_before,date_max_before,opp_after,date_opp_after,date_transplant,LDH_на_момент_OPP,LDH_в_теч_7дн,Дата_LDH
6,321848/A13,0.099,2019-10-24 06:12:00,0.153,2019-11-28 07:09:00,2019-10-30,304.0,938.0,2019-12-02 07:22:00
12,56487/A14,0.075,2019-05-31 06:40:00,0.148,2019-07-23 06:00:00,2019-06-04,None,610.0,2019-07-18 06:51:00
14,73204/A14,0.072,2018-08-13 08:05:00,0.118,2018-10-25 06:39:00,2018-08-16,132.0,7510.0,2018-10-31 07:11:00
15,75310/A14,0.077,2018-10-15 06:58:00,0.174,2019-02-15 06:53:00,2018-10-18,None,615.0,2019-02-11 06:26:00
16,86967/A14,0.151,2022-11-28 07:03:00,0.270,2023-02-11 01:02:00,2022-11-29,95.0,1958.0,2023-02-16 03:47:00
...,...,...,...,...,...,...,...,...,...
344,41886/A23,0.065,2024-09-28 06:25:00,0.112,2024-11-13 00:41:00,2024-10-02,142.0,590.0,2024-11-20 00:05:00
348,50343/A23,0.072,2023-11-30 06:28:00,0.119,2023-12-18 00:08:00,2023-12-05,2085.0,6560.0,2023-12-19 00:30:00
363,68836/A23,0.144,2024-06-27 00:39:00,0.257,2024-06-29 16:44:00,2024-06-05,1363.0,1363.0,2024-06-30 06:02:00
368,79036/A23,0.083,2024-06-06 06:12:00,0.168,2024-09-17 00:54:00,2024-06-11,991.0,991.0,2024-09-17 00:54:00
380,7575/A24,0.080,2024-05-15 07:35:00,0.125,2024-05-22 06:34:00,2024-05-21,516.0,516.0,2024-05-22 06:34:00

In [161]:
disease.to_excel('/Users/ksenia/Desktop/ITMO/suspected_tma_with_date_opp.xlsx')

In [159]:
print(*disease['patient_id'].tolist(), sep='\n')

321848/A13
56487/A14
73204/A14
75310/A14
86967/A14
11869/A17
42200/A17
43732/A17
44864/A17
46644/A17
63309/A17
65224/A17
66841/A17
19269/A18
40677/A18
46452/A18
70947/A18
79890/A18
86343/A18
2315/A19
5945/A19
12220/A19
19179/A19
26230/A19
28953/A19
30713/A19
42763/A19
66823/A19
78000/A19
87320/A19
4147/A20
7035/A20
10187/A20
11089/A20
13047/A20
27438/A20
29789/A20
32283/A20
59793/A20
9369/A21
16105/A21
23713/A21
29974/A21
33981/A21
34127/A21
46790/A21
53777/A21
62325/A21
64594/A21
74012/A21
81008/A21
82729/A21
1133/A22
28698/A22
39101/A22
42840/A22
51799/A22
54746/A22
57806/A22
61479/A22
77597/A22
17083/A23
20494/A23
41886/A23
50343/A23
68836/A23
79036/A23
7575/A24

In [162]:
blood = pd.read_csv('/Users/ksenia/Downloads/kak_parsed.csv', index_col=0)
blood

                   Дата забора Test Value
Рег.№
317/A12    2017/12/05 11:56:00  WBC   7,5
317/A12    2018/12/03 11:04:00  WBC   8,1
322/A12    2019/12/04 08:26:00  WBC  4,18
322/A12    2019/12/06 10:36:00  WBC     4
610/A12    2019/11/22 10:44:00  WBC  7,99
...                        ...  ...   ...
22882/B18  2019/05/25 18:57:00  HGB    88
22882/B18  2019/05/26 06:52:00  HGB    81
22882/B18  2019/05/26 18:52:00  HGB    76
22882/B18  2019/05/27 06:57:00  HGB    71
22882/B18  2019/05/27 18:56:00  HGB    69

[730536 rows x 3 columns]

In [167]:
blood['Дата забора'] = pd.to_datetime(blood['Дата забора'])
blood['Value'] = blood['Value'].astype(str).str.replace(',', '.').astype(float) 
hgb_values, hgb_dates = [], []
plt_values, plt_dates = [], []

for _, row in opp_df.iterrows():
    patient_id = row['patient_id']
    opp_date = row['date_opp_after']
    
    blood_patient = blood.loc[blood.index == patient_id]
    
    hgb_window = blood_patient[
        (blood_patient['Test'] == 'HGB') &
        (blood_patient['Дата забора'] >= opp_date - pd.Timedelta(days=7)) &
        (blood_patient['Дата забора'] <= opp_date + pd.Timedelta(days=7))
    ]
    if not hgb_window.empty:
        min_row = hgb_window.sort_values('Value', ascending=True).iloc[0]
        hgb_values.append(min_row['Value'])
        hgb_dates.append(min_row['Дата забора'])
    else:
        hgb_values.append(None)
        hgb_dates.append(None)
    
    plt_window = blood_patient[
        (blood_patient['Test'] == 'PLT') &
        (blood_patient['Дата забора'] >= opp_date - pd.Timedelta(days=7)) &
        (blood_patient['Дата забора'] <= opp_date + pd.Timedelta(days=7))
    ]
    if not plt_window.empty:
        min_row = plt_window.sort_values('Value', ascending=True).iloc[0]
        plt_values.append(min_row['Value'])
        plt_dates.append(min_row['Дата забора'])
    else:
        plt_values.append(None)
        plt_dates.append(None)

opp_df['HGB_min_7дн'] = hgb_values
opp_df['Дата_HGB'] = hgb_dates
opp_df['PLT_min_7дн'] = plt_values
opp_df['Дата_PLT'] = plt_dates

In [168]:
opp_df

,patient_id,max_before,date_max_before,opp_after,date_opp_after,date_transplant,LDH_на_момент_OPP,LDH_в_теч_7дн,Дата_LDH,HGB_min_7дн,Дата_HGB,PLT_min_7дн,Дата_PLT
0,6612/A12,0.108,2019-07-14 07:14:00,0.176,2019-08-06 07:05:00,2019-07-19,None,130.0,2019-08-05 07:01:00,66.0,2019-08-06 07:04:00,0.0,2019-07-31 06:58:00
1,55779/A12,0.081,2018-06-13 00:07:00,0.359,2018-08-07 08:22:00,2018-06-15,200.0,200.0,2018-08-07 08:22:00,75.0,2018-08-01 07:28:00,146.0,2018-08-13 10:50:00
2,9520/A13,0.080,2019-11-05 07:07:00,0.121,2020-01-09 10:52:00,2019-11-08,288.0,288.0,2020-01-09 10:52:00,82.0,2020-01-04 10:45:00,119.0,2020-01-04 10:45:00
3,22727/A13,0.091,2022-11-28 07:04:00,0.144,2022-12-29 09:51:00,2022-11-30,230.0,303.0,2022-12-26 07:07:00,90.0,2022-12-28 06:56:00,64.0,2022-12-23 06:35:00
4,136357/A13,0.113,2023-08-07 06:54:00,0.184,2024-02-13 10:49:00,2023-08-11,226.0,330.0,2024-02-16 10:31:00,77.0,2024-02-19 10:31:00,23.0,2024-02-15 18:44:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,53046/A24,0.075,2025-04-14 07:18:00,0.113,2025-06-17 11:27:00,2025-04-18,None,NaN,NaT,NaN,NaT,NaN,NaT
402,56335/A24,0.100,2025-04-15 06:31:00,0.156,2025-06-20 10:54:00,2025-04-16,None,NaN,NaT,NaN,NaT,NaN,NaT
403,61501/A24,0.093,2025-03-27 06:35:00,0.151,2025-05-17 09:21:00,2025-03-28,None,NaN,NaT,NaN,NaT,NaN,NaT
404,73057/A24,0.093,2025-03-17 06:39:00,0.142,2025-05-08 10:09:00,2025-03-20,None,NaN,NaT,NaN,NaT,NaN,NaT
405,13126/B18,0.085,2018-03-12 07:26:00,0.166,2018-05-13 06:58:00,2018-03-15,79.0,205.0,2018-05-07 06:58:00,49.0,2018-05-17 06:42:00,1.0,2018-05-18 06:44:00

In [169]:
opp_df['LDH_в_теч_7дн'] = pd.to_numeric(opp_df['LDH_в_теч_7дн'], errors='coerce')
blood_ldh_disease = opp_df[(opp_df['LDH_в_теч_7дн'].fillna(0) > 500) & ((opp_df['HGB_min_7дн'].fillna(0) < 80) | (opp_df['PLT_min_7дн'].fillna(0)< 50))]
blood_ldh_disease

,patient_id,max_before,date_max_before,opp_after,date_opp_after,date_transplant,LDH_на_момент_OPP,LDH_в_теч_7дн,Дата_LDH,HGB_min_7дн,Дата_HGB,PLT_min_7дн,Дата_PLT
6,321848/A13,0.099,2019-10-24 06:12:00,0.153,2019-11-28 07:09:00,2019-10-30,304.0,938.0,2019-12-02 07:22:00,50.0,2019-11-21 07:27:00,5.0,2019-11-21 07:27:00
12,56487/A14,0.075,2019-05-31 06:40:00,0.148,2019-07-23 06:00:00,2019-06-04,None,610.0,2019-07-18 06:51:00,51.0,2019-07-19 23:55:00,3.0,2019-07-23 18:55:00
14,73204/A14,0.072,2018-08-13 08:05:00,0.118,2018-10-25 06:39:00,2018-08-16,132.0,7510.0,2018-10-31 07:11:00,57.0,2018-10-18 06:51:00,2.0,2018-10-28 07:07:00
15,75310/A14,0.077,2018-10-15 06:58:00,0.174,2019-02-15 06:53:00,2018-10-18,None,615.0,2019-02-11 06:26:00,69.0,2019-02-13 06:47:00,6.0,2019-02-17 19:02:00
16,86967/A14,0.151,2022-11-28 07:03:00,0.270,2023-02-11 01:02:00,2022-11-29,95.0,1958.0,2023-02-16 03:47:00,30.0,2023-02-08 16:21:00,0.1,2023-02-08 16:21:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,41886/A23,0.065,2024-09-28 06:25:00,0.112,2024-11-13 00:41:00,2024-10-02,142.0,590.0,2024-11-20 00:05:00,69.0,2024-11-19 00:22:00,0.0,2024-11-14 16:58:00
348,50343/A23,0.072,2023-11-30 06:28:00,0.119,2023-12-18 00:08:00,2023-12-05,2085.0,6560.0,2023-12-19 00:30:00,56.0,2023-12-18 15:07:00,0.0,2023-12-19 14:33:00
363,68836/A23,0.144,2024-06-27 00:39:00,0.257,2024-06-29 16:44:00,2024-06-05,1363.0,1363.0,2024-06-30 06:02:00,63.0,2024-07-04 00:42:00,0.0,2024-06-28 14:57:00
368,79036/A23,0.083,2024-06-06 06:12:00,0.168,2024-09-17 00:54:00,2024-06-11,991.0,991.0,2024-09-17 00:54:00,64.0,2024-09-10 06:34:00,2.0,2024-09-10 06:34:00
380,7575/A24,0.080,2024-05-15 07:35:00,0.125,2024-05-22 06:34:00,2024-05-21,516.0,516.0,2024-05-22 06:34:00,54.0,2024-05-21 06:36:00,1.0,2024-05-23 04:17:00

In [171]:
blood_ldh_disease.to_excel('/Users/ksenia/Desktop/ITMO/suspected_tma_opp_ldh_blood.xlsx')

In [173]:
tma = pd.read_csv('/Users/ksenia/Downloads/id90.csv', index_col=0)
tma

           id             tma_date
0    4343/A24  2024-06-28 00:00:00
9    5427/A20  2020-06-06 00:00:00
11  51799/A22  2023-08-18 00:00:00
16   1649/A20  2020-07-05 00:00:00
19  55077/A23  2024-09-17 00:00:00
..        ...                  ...
63  41886/A23  2024-11-13 00:41:00
64  50343/A23  2023-12-18 00:08:00
65  68836/A23  2024-06-29 16:44:00
66  79036/A23  2024-09-17 00:54:00
67   7575/A24  2024-05-22 06:34:00

[90 rows x 2 columns]

In [176]:
blood['Дата забора'] = pd.to_datetime(blood['Дата забора'])
tma['tma_date'] = pd.to_datetime(tma['tma_date'])
blood['Value'] = blood['Value'].astype(str).str.replace(',', '.').astype(float) 
hgb_values, hgb_dates = [], []
plt_values, plt_dates = [], []

for _, row in tma.iterrows():
    patient_id = row['id']
    opp_date = row['tma_date']
    
    blood_patient = blood.loc[blood.index == patient_id]
    
    hgb_window = blood_patient[
        (blood_patient['Test'] == 'HGB') &
        (blood_patient['Дата забора'] >= opp_date - pd.Timedelta(days=7)) &
        (blood_patient['Дата забора'] <= opp_date + pd.Timedelta(days=7))
    ]
    if not hgb_window.empty:
        min_row = hgb_window.sort_values('Value', ascending=True).iloc[0]
        hgb_values.append(min_row['Value'])
        hgb_dates.append(min_row['Дата забора'])
    else:
        hgb_values.append(None)
        hgb_dates.append(None)
    
    # PLT
    plt_window = blood_patient[
        (blood_patient['Test'] == 'PLT') &
        (blood_patient['Дата забора'] >= opp_date - pd.Timedelta(days=7)) &
        (blood_patient['Дата забора'] <= opp_date + pd.Timedelta(days=7))
    ]
    if not plt_window.empty:
        min_row = plt_window.sort_values('Value', ascending=True).iloc[0]
        plt_values.append(min_row['Value'])
        plt_dates.append(min_row['Дата забора'])
    else:
        plt_values.append(None)
        plt_dates.append(None)

tma['HGB_min_7дн'] = hgb_values
tma['Дата_HGB'] = hgb_dates
tma['PLT_min_7дн'] = plt_values
tma['Дата_PLT'] = plt_dates

In [177]:
tma

,id,tma_date,HGB_min_7дн,Дата_HGB,PLT_min_7дн,Дата_PLT
0,4343/A24,2024-06-28 00:00:00,78.0,2024-06-26 00:21:00,28.0,2024-06-22 10:16:00
9,5427/A20,2020-06-06 00:00:00,56.0,2020-06-06 06:54:00,0.0,2020-06-09 07:03:00
11,51799/A22,2023-08-18 00:00:00,69.0,2023-08-21 17:26:00,0.0,2023-08-11 06:05:00
16,1649/A20,2020-07-05 00:00:00,67.0,2020-07-10 06:47:00,5.0,2020-07-04 07:00:00
19,55077/A23,2024-09-17 00:00:00,57.0,2024-09-17 01:00:00,3.0,2024-09-17 01:00:00
...,...,...,...,...,...,...
63,41886/A23,2024-11-13 00:41:00,69.0,2024-11-19 00:22:00,0.0,2024-11-14 16:58:00
64,50343/A23,2023-12-18 00:08:00,56.0,2023-12-18 15:07:00,0.0,2023-12-19 14:33:00
65,68836/A23,2024-06-29 16:44:00,63.0,2024-07-04 00:42:00,0.0,2024-06-28 14:57:00
66,79036/A23,2024-09-17 00:54:00,64.0,2024-09-10 06:34:00,2.0,2024-09-10 06:34:00
67,7575/A24,2024-05-22 06:34:00,54.0,2024-05-21 06:36:00,1.0,2024-05-23 04:17:00

In [196]:
sch = C[(C['Синоним'] == 'SHC') & (C['Возраст_в_годах'] >= 18)]
sch = sch.reset_index() 
sch = sch.rename(columns={'Рег.№': 'id'})
sch

,id,Возр.,Синоним,Дата забора,Результаты,Возраст_в_годах
0,4761/A12,57лет,SHC,2014-02-26 08:34:00,2.00,57
1,4761/A12,57лет,SHC,2014-03-06 09:00:00,1.00,57
2,6381/A12,43года,SHC,2023-06-14 11:18:00,6.00,43
3,6381/A12,44года,SHC,2023-08-28 01:50:00,2.00,44
4,9321/A12,20лет,SHC,2014-11-06 12:29:00,0.00,20
...,...,...,...,...,...,...
4512,22882/B18,54года,SHC,2018-09-27 11:03:00,7.00,54
4513,22882/B18,54года,SHC,2018-10-22 11:04:00,6.00,54
4514,22882/B18,54года,SHC,2019-01-29 10:03:00,3.00,54
4515,22882/B18,54года,SHC,2019-04-25 10:53:00,1.00,54
4516,22882/B18,54года,SHC,2019-05-06 07:07:00,5.00,54

In [198]:
len(sch['id'].unique())

1172

In [200]:
t = 0 
for p in list(tma['id']):
    if p in list(sch['id']):
        t += 1

73

In [201]:
sch_nonzero = sch[sch['Результаты'] != 0]

sch_nonzero_in_tma = sch_nonzero[sch_nonzero['id'].isin(tma['id'])]

count_nonzero_patients = sch_nonzero_in_tma['id'].nunique()

print(count_nonzero_patients)

73